*{
  padding:0;
  margin:0;
  border:0cm;
}

img {
  /* removes any border from images */
  border: 0;
  /* aligns images vertically in the middle of their containing element */
  vertical-align: middle
}

button {
  /* changes the cursor to a hand when it hovers over button elements */
  cursor: pointer
}

button,input {
  /* Set fonts for button and input elements & removes borders and outlines */
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  outline: none;
}

body .header-content{
  /* applies antialiasing to fonts for smoother appearance */
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

.hide,.none {
  /* add to any html element to hide it */
  display: none
}

.clearfix::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.footer-logo{
  background-color:#fff;
  color:white;
  text-align: center; 
}

.footer{
    color:white;
    text-align: center; 
}

h1 {
  font-size: 4em;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.biggerfont {
  font-size:140%;
  font-style:italic;
}

.banner-carousel{
  align-items: right;
  position:relative;
  box-sizing: border-box;
}

.header-right {
  margin-left: 20px;
  position: relative;
	width: 420px;
	height: 100px;
	overflow: hidden;
  filter: brightness(1.08) saturate(1.0);
}

.header-right input {
	display: none;
}

.header-right label{
	position: absolute;
	bottom: 10px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #fff;
  z-index: 1000;
}

label[for="btn1"] {
	left: 35%;
}

label[for="btn2"] {
	left: 40%;
}

label[for="btn3"] {
	left: 45%;
}

label[for="btn4"] {
	left: 50%;
}

label[for="btn5"] {
	left: 55%;
}

ul {
	display: flex;
	width: calc(420px * 5);
	transition: all 0.35s;
  transform: translate3d(0,0,0);
}

#btn1:checked ~ ul {
	margin-left: 0;
}

#btn2:checked ~ ul {
	margin-left: -420px;
}

#btn3:checked ~ ul {
	margin-left: calc(-420px * 2);
}

#btn4:checked ~ ul {
	margin-left: calc(-420px * 3);
}

#btn5:checked ~ ul {
	margin-left: calc(-420px * 4);
}

#btn1:checked ~ label[for="btn1"] {
	background-color: #84a88e;
}

#btn2:checked ~ label[for="btn2"] {
	background-color: #84a88e;
}

#btn3:checked ~ label[for="btn3"] {
	background-color: #84a88e;
}

#btn4:checked ~ label[for="btn4"] {
	background-color: #84a88e;
}

#btn5:checked ~ label[for="btn5"] {
	background-color: #84a88e;
}

.caption {
  position: absolute;
  bottom: 60px; 
  left: 14%;
  transform: translateX(-50%);
  color: #88937d;
  padding: 5px 10px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px; 
  z-index: 10; 
  pointer-events: none; 
}

.header-right li {
  position: relative;
  width: 420px;
  height: 100px;  
}

.header-content {
  display: flex;
  align-items: center;
  background-color: #84a88e;
  color: #ffffff;
  padding: 20px;
}

.header-image {
  width: 420px; 
  height:100px;
  margin-left: 10px; 
  margin-right:10px;
  filter: brightness(1.1) saturate(1.0);
}

.header-right img {
  border-radius: 5px; 
}

.heading{
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-images {
  display: flex; 
  justify-content:center; /* make sure logos are evenly distributed among the flexbox */
  align-items: center; 
  margin-right: 10px; 
}

.footer-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, #4367af, #7ea0e3);
  margin: 0 auto;
  padding:10px auto;
}

.footer-images img {
  margin: 20px; /* add margin between each image for clear visualization*/
}

.footer-nsf img {
  margin:10px;
}

.disclaimer{
  flex-wrap: wrap;
  color: #fff;
  padding:0px 25px;
  align-items: center;
  max-width: 30%;
  text-align: justify;
}