/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

:root{
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(212, 32%, 74%);
}

*, *::before, *::after{
    box-sizing: border-box;
}

.card-page{
    display: grid;
    margin-top: -20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* Adjust this value to bring the cards closer together */
    min-height: 60vh;
    place-items: center;
    line-height: 1.6;
    background: white;
    font-family: "Poppins", sans-serif;
    padding: 0 5%; /* Adjust left and right padding to center the cards on the page */
}

.card {
    color:hsl(0, 0%, 100%);
    background-image: url(../images/random1.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 28ch;
    border-radius: 0.3rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content > *{
    opacity: 1;
}


.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    /* background: hsl(0 0% 76% / 0.5); */
    background: linear-gradient(
        hsl(0, 0%, 0%, 0),
        hsla(36, 70%, 53%, 0.3) 10%,
        hsl(0, 0%, 0%, 0.95)
    );
    transform: translateY(68%);
    transition: transform 500ms ease;
}

.card:hover .card-content {
    transform: translateY(0);
}

.button{
    color: white;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: rgba(240, 248, 255, 0.61);
    margin-top: 13px;
    padding: 0.3em 1em;
    font-size: 14px;
    border-radius: 0.25em;
}

.card-title{
    position: relative;
    width: max-content;
}

.card-title::after{
    content:"";
    position:absolute;
    height:4px;
    background: var(--clr-neutral-400);
    left: calc(var(--padding) * -1);
    bottom:0;
    width: calc(100% + var(--padding));
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 700ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255 255 255 / 0.85);/
}

.button:hover, .button:focus {
    background-color: var(--clr-neutral-100);
}


